---
title: Olimpiada Nacional de Matemáticas para Alumnos de Primaria y Secundaria
urlname: onmaps-guanajuato
logo-title:
layout: home
---
<div class= "row">
  {% for item in site.data.historico.onmaps_guanajuato reversed%}
  <h2 class="text-center">{{item.year}}</h2>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">Nivel</th>
        <th scope="col">Nombre</th>
        <th scope="col">Logro</th>
      </tr>
    </thead>
    <tbody>
      {% for level in item.levels %}
      <tr>
        <td rowspan="2" class= "align-middle text-center">{{ level.level }}</td>
        <td>{{level.participants[0].name}}</td>
        <td>{{level.participants[0].achievement}}</td>
      </tr>
      <tr>
        <td>{{level.participants[1].name}}</td>
        <td>{{level.participants[1].achievement}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endfor %}
</div>