<footer class="bg-body-tertiary text-lg-start footer mt-auto">
	<div class="py-2 px-3 d-flex justify-content-around text-center">
		<small class="text-muted">
			Responsable del proyecto:
			<br/>
			Joshua Sebastián González Torres
			<br/>
			<!-- El último delegado de la OBM Guanajuato de la larga línea.
			<br/> -->
			Correo: <a href="mailto:{{site.email}}" class="font-monospace">{{site.email}}</a>
			<br/>
			Más acerca de <a href="{{site.url}}">Joshua González</a>
		</small>
	</div>
</footer>
